.card-body2 {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-container .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .form-element {
    flex-grow: 1;
    flex-basis: calc(20% - 10px);
    margin: 0;
    padding: 0;
  }
  
  .form-element.textarea {
    flex-basis: calc(60% - 10px);
  }
  
  .form-element.number-input {
    flex-basis: calc(40% - 10px);
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  input, select, textarea {
    /*width: 100%;*/
    /*padding: 5px 10px;*/
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  input[type=number] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
  
  input[readonly] {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
    opacity: 0.7;
    cursor: default;
    outline: none;
  }
  
  textarea {
    height: 6em;
    resize: none;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 10px;
  }
  
  #CodigoGuarnicion .form-element:nth-child(1) {
    flex-grow: 1;
  }
  
  #CodigoGuarnicion .form-element:nth-child(2) {
    flex-grow: 10;
  }
  
  #CodigoGuarnicion .form-element:nth-child(2) input {
    width: 59%;
  }
  
  @media (max-width: 671px) {
    #CodigoGuarnicion .form-element:nth-child(1) {
      flex-grow: 1;
    }
  
    #CodigoGuarnicion .form-element:nth-child(2) {
      flex-grow: 1;
    }
  
    #CodigoGuarnicion .form-element:nth-child(2) input {
      width: auto;
    }
  }